<div class="container">
    <h1 class="title">MULTI TIMER</h1>
  
    <form (submit)="addTimer()" class="timer-form">
      <div class="input-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="description" name="desc" />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Minutes</mat-label>
          <input matInput type="number" [(ngModel)]="minutes" name="mins" />
        </mat-form-field>
      </div>
  
      <button mat-raised-button color="primary" type="submit">Add Timer</button>
    </form>
  
    <div style="padding-bottom: 10px;">
      <mat-button-toggle-group
      [value]="currentPage"
      (change)="switchPage($event.value)"
      appearance="legacy"
    >
      <mat-button-toggle
        *ngFor="let page of pages"
        [value]="page"
      >
        {{ page }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    
      <button mat-raised-button color="primary" (click)="addPage()">
        <mat-icon>add</mat-icon>
      </button>
      <div class="d-flex justify-content-end mt-3">
      <button mat-raised-button color="warn" (click)="deletePage()" class="delete-button">
        <mat-icon>delete</mat-icon> Delete Page
      </button>
      </div>
    
    </div>
    <div class="timers-grid">
      <mat-card class="timer-card" *ngFor="let timer of timers">
        <button mat-icon-button class="close-btn" (click)="removeTimer(timer.id)">
          <mat-icon>close</mat-icon>
        </button>
        <mat-card-content>
          <app-countdown [timer]="timer" (timerChanged)="updateTimer($event)"></app-countdown>
        </mat-card-content>
      </mat-card>
    </div>
  </div>