<div class="container">
    <h1 class="title">MULTI TIMER</h1>
  
    <form (submit)="addTimer()" class="timer-form">
      <div class="input-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="description" name="desc" />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Minutes</mat-label>
          <input matInput type="number" [(ngModel)]="minutes" name="mins" />
        </mat-form-field>
      </div>
  
      <button mat-raised-button color="primary" type="submit">Add Timer</button>
    </form>
    <div>
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; padding-bottom: 10px;">
      <div style="display: flex; gap: 5px; align-items: center;">
        <mat-button-toggle-group
        [value]="currentPage"
        (change)="switchPage($event.value)"
        appearance="legacy"
        style="flex-wrap: wrap; overflow: hidden;"
      >
        <mat-button-toggle
        *ngFor="let page of pages"
        [value]="page"
        >
        {{ page }}
      </mat-button-toggle>
      </mat-button-toggle-group>
      </div>
      <div class="button-container">
        <button  mat-raised-button (click)="addPage()">
          <mat-icon>add</mat-icon>
        </button>
          <button  mat-raised-button (click)="deletePage()" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-raised-button (click)="addSeparator()"><mat-icon>power_input</mat-icon></button>
      </div>    
    </div>
    <div class="timers-grid">
      <ng-container *ngFor="let timer of timers;">
        <mat-card *ngIf="!isSeparator(timer)" class="timer-box">
          <button mat-icon-button class="close-btn" (click)="removeTimer(timer.id)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-card-content>
            <app-countdown [timer]="timer"></app-countdown>
          </mat-card-content>
        </mat-card>
    
        <div *ngIf="isSeparator(timer)" class="separator">
          <button mat-icon-button class="seperator-close-btn" (click)="removeTimer(timer.id)">
            <mat-icon>close</mat-icon>
          </button>
          <input matInput [(ngModel)]="timer.description" />
        </div>
      </ng-container>
    </div>
    
  </div>