<div style="height: 100%;">
    <mat-card-title>{{ timer.description }}</mat-card-title>
    <mat-card-content>
      <h1>{{ timeLeft }}</h1>
    </mat-card-content>
  
    <div style="height: 75px; width: 100%;">
  
        <button mat-mini-fab color="secondary" (click)="togglePause()"
          style="position: absolute; top: 50%; left: 75%;">
          <mat-icon>{{ timer.paused ? 'play_arrow' : 'pause' }}</mat-icon>
        </button>
        
        <button mat-mini-fab color="secondary" (click)="restartTimer()"
        style="position: absolute; top: 50%; left: 50%;">
        <mat-icon>loop</mat-icon>
        </button>
      </div>
      
  </div>
  