<div style="height: 100%;">
    <mat-card-title><input matInput [(ngModel)]="timer.description"/></mat-card-title>
    <mat-card-content>
      <h1>{{ timeLeft }}</h1>
    </mat-card-content>
  
    <div style="height: 50px; width: 100%;">
  
        <button mat-mini-fab color="secondary" (click)="togglePause()"
          style="position: absolute; top: 60%; left: 80%;">
          <mat-icon>{{ timer.paused ? 'play_arrow' : 'pause' }}</mat-icon>
        </button>
        
        <button mat-mini-fab color="secondary" (click)="restartTimer()"
        style="position: absolute; top: 60%; left: 55%;">
        <mat-icon>loop</mat-icon>
        </button>

        <button mat-mini-fab color="secondary" (click)="addMinute(5)"
        style="position: absolute; top: 60%; left: 30%;">
        <p>+5</p>
        </button>

        <button mat-mini-fab color="secondary" (click)="addMinute(1)"
        style="position: absolute; top: 60%; left: 5%;">
        <p>+1</p>
        </button>
      </div>
      
  </div>
  