<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
    <mat-card-title>{{ timer.descriptiom }}</mat-card-title>
    <mat-card-content>
      <h1>{{ timeLeft }}</h1>
    </mat-card-content>
  
    <div style="height: 75px; width: 100%;">
  
        <button mat-mini-fab color="secondary" (click)="togglePause()"
          style="position: absolute; top: 50%; left: 75%;">
          <mat-icon>{{ timer.paused ? 'play_arrow' : 'pause' }}</mat-icon>
        </button>
      
      </div>
      
  </div>
  